<div class="container">
    <div id="about-me">
        <h1>ABOUT</h1>
        <div>
            <img ng-src="/assets/eden.jpg">
            <p>
                Eden is a designer from Texas with a broad body of work consisting of graphic design, UX/UI, packaging,
                furniture, architecture, exhibition design and design strategy. After completing an internship with the
                start-up industrial design firm Finell, she realized her interest in the production and business of
                tangible products. Armed with a BFA Design degree from the University of Texas at Austin, she moved to
                New York to immerse herself in the opportunities the city has to offer. In this era of new technologies
                such as 3-D printing, arduinos and online learning tools, Eden believes that design education should
                become more accessible to the masses. She sees new products as platforms for society to mold innovation
                and change.
            </p>
        </div>
    </div>
    <div id="contact">
        <h1>CONTACT</h1>
        <p>Email eden.lew -at- gmail.com</p>
        <p>Twitter <a href="https://twitter.com/edendenden">@edendenden</a></p>
        <p>Instagram <a href="http://instagram.com/edenwooperlewper">@edenwooperlewper</a></p>
    </div>
</div>