<div id="header">
    <div class="container">
        <div class="header">
            <span class="header-logo">
                <img alt="edenlew" ng-src="/assets/logo40.png" ng-click="goToList()">
                <span>
                    <p>Designs by Eden Lew</p>
                    <p>From Texas to NYC</p>
                </span>
            </span>
            <span class="header-nav">
                <a ng-click="aboutMe()">About / Contact</a>
            </span>
        </div>
    </div>
</div>
