<a class="btn" ng-click="viewProjects()">Back to List</a>
<a class="btn" ng-click="destroyProject()">Delete Project</a>
<a class="btn" ng-click="saveProject()">Save Changes</a>

<div class="project-form">
    <div class="project-properties">
        <div class="project-details">
            <div>
                <label>
                    Name
                    <input type="text" ng-model="project.name"
                           placeholder="Name">
                </label>
            </div>
            <div>
                <label >
                    Start Date: {{project.start_date | date:'mediumDate' | blankToNone}}
                    <zebra-datepicker ng-model="project.start_date"></zebra-datepicker>
                </label>
                <label>
                    Finish Date: {{project.finish_date | date:'mediumDate' | blankToNone}}
                    <zebra-datepicker ng-model="project.finish_date"></zebra-datepicker>
                </label>
            </div>
            <div>
                This project is {{project.visible ? "visible" : "invisible"}}.
                <a class="btn" ng-click="toggleVisible()">Make it {{project.visible ? "invisible" : "visible"}}</a>
            </div>
        </div>
        <div class="project-categories">
            Categories
            <div ng-repeat="category in project.categories"></div>
        </div>
    </div>
    <div class="project-content">
        <div class="project-images">
            Images
        </div>
        <label class="project-content-box">
            Content
            <textarea ng-model="project.content">
            </textarea>
        </label>
    </div>
</div>
