<a class="btn" ng-click="viewProjects()">Back to List</a>
<a class="btn" ng-click="destroyProject()">Delete Project</a>
<a class="btn" ng-click="saveProject()">Save Changes</a>

<p class="message" ng-show="message">{{message}}</p>

<div class="project-form">
    <div class="project-properties">
        <div class="project-details">
            <div>
                <label>
                    Name
                    <input type="text" ng-model="project.name"
                           placeholder="Name">
                </label>
            </div>
            <div>
                <label >
                    Start Date: {{project.start_date | date:'mediumDate' | blankToNone}}
                    <zebra-datepicker ng-model="project.start_date"></zebra-datepicker>
                </label>
                <label>
                    Finish Date: {{project.finish_date | date:'mediumDate' | blankToNone}}
                    <zebra-datepicker ng-model="project.finish_date"></zebra-datepicker>
                </label>
            </div>
            <div>
                This project is {{project.visible ? "visible" : "invisible"}}.
                <a class="btn" ng-click="toggleVisible()">Make it {{project.visible ? "invisible" : "visible"}}</a>
            </div>
        </div>
        <div class="project-categories">
            Categories
            <label ng-repeat="category in categories">
                <input type="checkbox" ng-checked="hasCategory(category)" ng-click="updateCategory(category)">
                {{category}}
            </label>
            <div class="add-category">
                <input type="text" ng-model="newCategory"><a class="btn" ng-click="addCategory()">Add Category</a>
            </div>
        </div>
    </div>
    <div class="project-images">
        Images
        <br>
        <!-- Display uploaded images for this project -->
        <div ng-repeat="image in project.images">
            <p>{{image.name}}</p>
            <p>{{image.url}}</p>
            <p>{{image.caption}}</p>
            <p>{{image.tag}}</p>
        </div>
        <!-- Button to upload new image -->
        <a class="btn">Upload new Image</a>
    </div>
    <div class="project-content">
        <label class="project-content-box">
            Content
            <br>
            <textarea></textarea>
        </label>
    </div>
</div>
