#admin-body {
  table {
    margin-top: 1.414em;
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 2px solid $table-border-color;
    }

    tbody tr:nth-child(even){
      background-color: $shaded-table-color;
    }

    tr {
      border-bottom: 1px solid $table-border-color;

      &.invisible {
        font-style: italic;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }

    th, td {
      padding: 0.5em;
    }
  }
}
