#about-me {
  margin: 2*$gutter-width $margin-width;
  div {
    display: flex;
    flex-flow: column wrap;
  }

  p {
    margin: 0;
  }

  .bio {
    display: flex;
    flex-flow: row wrap;
  }

  .bio-text {
    flex-grow: 3.998;
    width: 0;
  }

  .bio-contact {
    flex-grow: 1.999;
    width: 0;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
  }

  img + .bio {
    margin-top: $gutter-width;
  }
}
