#about-me {
  margin: 2*$gutter-width $margin-width;
  border-top: 1px solid black;
  div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  img {
    width: $bio-image-width;
    flex-shrink: 0;
  }

  img + p {
    margin-left: $gutter-width;
  }
}

#contact {
  margin: 2*$gutter-width 0;
  border-top: 1px solid black;
}