#app {
  .btn {
    background-color: $app-button-color;
    cursor: pointer;
    height: $app-button-height;
    line-height: $app-button-height;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0.5*$gutter-width;
    border-radius: $app-button-border-radius;

    &.selected {
      background-color: $app-button-hover-color;
    }
  }

  span + span {
    margin-left: $gutter-width;
  }

  margin-top: 0.5*$column-width;

  h1 {
    font-size: $h1-font-size;
  }
}
