#header {
  background-color: $header-background-color;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: $column-width;
  padding-bottom: 2*$gutter-width;

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    img {
      cursor: pointer;
    }
  }

  img + span {
    margin-left: $gutter-width;
  }

  p {
    margin: 0;
  }

  // About and Content links

  a {
    cursor: pointer;
  }

  a + a {
    margin-left: $gutter-width;
  }
}