#header {
  background-color: $header-background-color;
  text-transform: uppercase;
  font-weight: bold;
  height: 60px;
  padding-top: 0.5*$gutter-width;
  font-size: 0.85em;
//  padding-bottom: 2*$gutter-width;

  .header {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: flex-end;
    -webkit-justify-content: center;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    padding-left: $gutter-width;

    margin-top: 25px;
  }

  .header-text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
  }

  .header-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .header-logo {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: flex-end;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    img {
      cursor: pointer;
      height: 40px;
    }
  }

  img + span {
    margin-left: $gutter-width;
  }

  p {
    margin: 0;
  }

  // About and Content links

  a {
    cursor: pointer;
  }

  a + a {
    margin-left: $gutter-width;
  }
}