#header {
  background-color: $header-background-color;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: $column-width;
  padding-bottom: 2*$gutter-width;

  .header {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: flex-end;
    -webkit-justify-content: space-between;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: $gutter-width;
  }

  .header-logo {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: flex-end;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    img {
      cursor: pointer;
      width: 40px;
      height: 60px;
    }
  }

  img + span {
    margin-left: $gutter-width;
  }

  p {
    margin: 0;
  }

  // About and Content links

  a {
    cursor: pointer;
  }

  a + a {
    margin-left: $gutter-width;
  }
}