.arrow-left, .arrow-right{
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
}

.arrow-left {
  border-right: 0.5em solid #b8b8b8;
}

.arrow-right {
  border-left: 0.5em solid #b8b8b8;
}

.boxes-wrapper {
  display: inline-block;
  margin: 0 0 0 0.5em;
//  transform: translateY(-.25em); This was for aligning with left/right buttons
  width: 2em;
  height: 2em;
}

.boxes {
  background-color: white;
  color: #b8b8b8;
  width: 0.5em;
  height: 0.5em;
  box-shadow: 0 1em, 1em 0, 1em 1em, 0 0 0 4em inset;
}

.project-show {
  padding-left: $gutter-width;
}

.project-nav-buttons {
  display: inline-block;
  cursor: pointer;
  float: right;
  div {
    float: left;
  }
}
.project-show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  h1, h3 {
    display: inline-block;
    max-width: 49vw;
    margin: 0;
  }
}

.project-title {
  display: flex;
  flex-direction: column;
}

.project-content {
  text-align: left;
  margin-bottom: 2*$column-width;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:not(.center) > * {
      flex-grow: 1;
      width: 0;
    }

    & > * + * {
      margin-left: 15px;
    }
  }

  .row + .row {
    margin-top: 15px;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin-top: 4*$gutter-width;
    }
  }

  .center {
    justify-content: center;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-end {
    align-items: flex-end;
  }

  .align-center {
    align-items: center;
  }

  .align-baseline{
    align-items: baseline;
  }

  .inset-text {
    padding: 0 0.5*$gutter-width;
  }
}