.boxes-wrapper {
  display: inline-block;
  margin: 0 0 0 0.5em;
//  transform: translateY(-.25em); This was for aligning with left/right buttons
  width: 2em;
  height: 2em;
}

.boxes {
  background-color: white;
  color: #b8b8b8;
  width: 0.5em;
  height: 0.5em;
  box-shadow: 0 1em, 1em 0, 1em 1em, 0 0 0 4em inset;
}

.project-show {
  padding-left: $gutter-width;
}

.project-nav-buttons {
  display: inline-block;
  cursor: pointer;
  float: right;
  div {
    float: left;
  }
}
.project-show-header {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  h1, h3 {
    display: inline-block;
    max-width: 49vw;
    margin: 0;
  }
}

.project-title {
  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: flex;
  flex-direction: column;
}

.project-content {
  text-align: left;
  margin-bottom: 2*$column-width;

  .row {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > * {
      min-width: 350px;
    }

    &:not(.center) > * {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      width: 0;
    }

    @media (min-width: 940px) {
      & > * + * {
        margin-left: 15px;
      }
    }

    @media (not min-width: 940px) {
      & > * + * {
        margin-top: 15px;
      }
    }
  }

  .row + .row {
    margin-top: 15px;
  }

  .column {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin-top: 4*$gutter-width;
    }
  }

  .center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .align-center {
    -webkit-align-items: center;
    align-items: center;
  }

  .align-baseline{
    -webkit-align-items: baseline;
    align-items: baseline;
  }

  .inset-text {
    padding: 0 0.5*$gutter-width;
  }
}

// Responsive Vimeo Embeds
// http://demosthenes.info/blog/649/Responsive-Design-Create-Fluid-YouTube-and-Vimeo-Content
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}