// Admin
$admin-button-color: #EEEEEE;
$admin-button-hover-color: #D4D4D4;
$shaded-table-color: #EEEEEE;
$table-border-color: #D4D4D4;

// App
$root-font-size: 14px;
$h1-font-size: 1.999em;
$h6-font-size: 1em;
$container-width: 75vw;
$max-container-width: 960px;
$app-button-color: #d1d2c0;
$app-button-hover-color: #b4b2b2;
$app-button-height: 1.999em;
$app-button-border-radius: 0.5em;

$column-width: 60px;
$gutter-width: 20px;
$margin-width: 0.5*$gutter-width;

// Header
$header-background-color: #f0f3e8;

// Projects List
$icon-width: 190px;
$icon-height: 220px;
$icon-font-size: 1em;

// About Me
$bio-image-width: 300px;