<div class="container">
    <div id="about-me">
        <div>
            <img ng-src="/assets/eden.jpg">
            <div class="bio">
                <p class="bio-text">
                    Eden is a designer from Texas with a broad body of work consisting of graphic design, UX/UI, packaging,
                    furniture, architecture, exhibition design and design strategy. Armed with a BFA Design degree from the University of Texas at Austin, she moved to
                    New York to immerse herself in the opportunities the city has to offer. In this era of new technologies
                    such as 3-D printing, Arduinos and online learning tools, Eden believes that design education should
                    become more accessible to the masses. She sees new products as platforms for society to mold innovation
                    and change.
                </p>
                <div class="bio-contact">
                    <p>eden.lew@gmail.com</p>
                    <p>
                        <a href="https://twitter.com/edendenden"><img ng-src="/assets/twitter.png"></a>
                        <a href="http://instagram.com/edenwooperlewper"><img ng-src="/assets/instagram.png"></a>
                        <a href="https://www.linkedin.com/profile/view?id=222054562"><img ng-src="/assets/linkedin.png"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>