<div class="project-show">
    <div class="project-show-header">
        <div class="project-title">
            <h1>{{project.name}}</h1>
            <h3>{{project.finish_date | dateRange : project.start_date}}, {{project.location}}</h3>
        </div>
        <div class="project-nav-buttons">
            <div class="boxes-wrapper" ng-click="returnToIndex()"><div class="boxes"></div></div>
        </div>
    </div>
    <div class="project-content" ng-bind-html="projectContent">
    </div>
</div>
