<!DOCTYPE html>
<html>
<head>
  <title>Eden Lew</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/7fdf28ed-e00b-4f3a-8be8-58663217ebcc.css"/>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application' %>

</body>
</html>
